:root {
    --main-color: #6815FF;
    --text-color-white: #ffffff;
    --text-color-black: #313131;
    --font-weight-bold: bold;
    --font-size: 16px;
    --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    --border-radius: 20px;
    --border-red: 1px solid red;
    --border-black: 1px solid black;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

#ribbion {
    /* justify-content: space-between; */
    align-items: center;
    background-color: var(--main-color);
    color: var(--text-color-white);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size);
}

#ribbion img {
    width: 40px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.ribbion-section-1 {
    gap: 20px;
    align-items: center;
    /* border: var(--border-red); */
    display: flex;
}

#ribbion-btn1 {
    color: var(--main-color);
    font-weight: var(--font-weight-bold);
}

#ribbion-btn2 {
    color: var(--text-color-white);
}

.modal-body>button {
    width: 100% !important;
    margin: 5px;
}

#model-body-btn1 {
    border: none;
    background-color: var(--main-color) !important;
}

#model-body-btn2 {
    color: var(--main-color);
    border: var(--main-color);
    outline: 1px solid var(--main-color);
}

#model-body-btn1:hover {
    background-color: #251d5a !important;
    box-shadow: var(--box-shadow);
}

#model-body-btn2:hover {
    background-color: white;
}

.fa-lock {
    color: var(--main-color) !important;
}

#ppp {
    text-align: center;
}

.modal-content {
    padding: 20px !important;
    font-weight: 150;
}

.modal-content>ul {
    list-style-type: var(--main-color) !important;
}

/* Navbar */
.my-navbar img {
    width: 186.35px;
    height: 36px;
}

#my-navbar-last-li {
    color: var(--main-color);
    outline: var(--main-color) !important;
}

.iconss {
    position: absolute;
    right: 10px;
    top: 10px;
}

.ui-switch {
    /* switch */
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(0, 56, 146);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
    display: none;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
}

.slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    ;
}

.slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
}

/* actions */
.ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
}

/* HERO SECTION */

#hero-h1-text {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    /* font family */
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    background: linear-gradient(106.43deg, rgb(82, 47, 212), rgb(107, 220, 255) 95.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-button-parent {
    border: 1px solid rgb(41, 40, 40);
    border-radius: 40px;
    margin: 20px auto;
    width: 300px;
    height: 60px;
    background: #FFFFFFE6;
    font-weight: 1000;
    padding: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.hero-button-parent:hover {
    padding: 6px;
}

.hero-button-parent>p {
    /* border: var(--border-black); */
    color: #34495ECC;
    width: 50%;
    margin-top: 10px;
    border-radius: var(--border-radius);
    padding: 2px;
    position: relative;
}

.hero-button-parent-p2 {
    height: 48px;
    box-shadow:
        rgba(0, 168, 204, 0.4) 0px 54px 55px,
        rgba(0, 151, 230, 0.3) 0px -12px 30px,
        rgba(0, 168, 204, 0.3) 0px 4px 6px,
        rgba(0, 151, 230, 0.35) 0px 12px 13px,
        rgba(0, 168, 204, 0.2) 0px -3px 5px;
    background: linear-gradient(135deg, rgb(0, 168, 204), rgb(0, 151, 230));
    color: var(--text-color-white);
    position: absolute;
    top: 4px;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-text-p {
    color: #000000;
    font-size: 20px;
    max-width: 62%;
    margin: 30px auto;
    text-align: center;
    padding: 0px 20px;
    line-height: 32px;
    box-sizing: border-box;
    /* border: var(--border-black); */
}

.input-container {
    position: relative;
    width: 50%;
    /* adjust as needed */
    margin: 30px auto;
}

.custom-input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #abaaaa;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

.input-icon-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.custom-input:focus {
    border: 1px solid var(--main-color);
    outline: none;
}

.input-container-button {
    /* border: var(--border-black); */
    width: 170px;
    margin: 30px auto;
    border-radius: 40px;
    padding: 9px;
    height: 50px;
    font-weight: 700;
    color: var(--text-color-white);
    --webkit-box-align: center;
    font-size: 16px;
    box-shadow: rgba(104, 81, 255, 0.3) 0px 8px 25px;
    background: linear-gradient(135deg, rgb(104, 81, 255), rgb(90, 69, 232));
    transition: 0.3s;
    transform: scale(1);
    cursor: pointer;
}

.input-container-button:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Popular-Searches-Headings {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    /* font family */
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    margin: 16px 0px 0px;
    background: linear-gradient(180deg, #4d3bdb 0%, #9747ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popular-searches-option-Parent {
    /* border: 1px solid black; */
    /* padding: 10px; */
    max-width: 700px;
    margin: 30px auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}

.popular-searches-option {
    padding: 7px 10px;
    font-size: 14px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 6px;
    flex: 0 1 auto;
    font-weight: 750;
}

/* AI AGENT SECTION */
.AI-Agent-Heading {
    font-size: 60px !important;
}

.Ai-assistant-agent-parent {
    box-shadow: var(--box-shadow);
    border: 1px solid var(--border-black);
    border-radius: 20px;
    margin: 30px auto;
    width: 80%;
    padding: 10px;
    /* background-image: url(./images/art\ work-df4f7a46.png); */
}

#agent-message {
    background-color: #E9D5FF;
    padding: 12px;
    width: 30%;
    border-radius: 10px;
    margin: 10px;
    font-size: 16px;
    color: var(--text-color-black);
}

#agent-options-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 100px auto 30px;
    width: 100%;
    max-width: 600px;
}

#agent-options {
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px 15px;
    font-size: 14px;
    cursor: pointer;
}

#agent-options:hover {
    background-color: #eae2e2;
}

.input-group-text {
    background-color: red !important;
}

#agent-heading-parent {
    display: flex;
    gap: 10px;
    align-items: center;
}

#agent-heading-parent>i {
    font-size: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    /* horizontal center */
    margin: 30px 0;
}

#AI-agent-img {
    width: 100%;
}

/* Chat Bot Button Bottom */
#agent-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50px;
    padding: 20px;
    background-color: var(--main-color);
    border: none;
    z-index: 2;
}

#chatboxparent {
    position: relative;
}

#exampleModall {
    position: fixed !important;
    top: 250px !important;
    left: 500px !important;

    /* padding: 1px !important; */
}

.modal-header {
    /* background-color: var(--main-color); */
    width: 100%;
}

.modal-header>h1 {
    /* color: var(--text-color-white); */
}

.modal-header>h1>img {
    width: 60px;
    background-color: var(--text-color-white);
    padding: 3px;
    border-radius: 50%;
}

#modal-content {
    padding: 00px !important;
}

.fa-paper-plane {
    color: var(--main-color) !important;
}

.input-group-text {
    background-color: white !important;
}

/* jobs-card-section */

#jobs-card-section-heading {
    color: #6815FF;
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    margin-top: 30px;
}

#jobs-card-section-heading>span {
    color: #3F3F3F;
}

#card-body-header {
    display: flex;
}

#Parent-Card {
    /* line-height: 80px; */
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 60px;
    position: relative;
}

#card-body-header>img {
    width: 50px;
    height: 30px;
    position: absolute;
    right: 10px;
    margin-bottom: 30px;
}

.card {
    width: 400px !important;
    height: 300px !important;
    cursor: pointer;
}

#cards-salary {
    color: var(--main-color) !important;
    font-weight: 700;
}

.card-text {
    font-weight: bold;
    margin-top: 100px;
}

#card-footer {
    display: flex;
    justify-content: space-around;
}

.card-rview {
    position: absolute;
    top: 150px;
    right: 10px;
}

#Jobs-card-left-right-arrow {
    background-color: var(--main-color);
    padding: 2px;
    border-radius: 50px;
    height: 20px;
    color: var(--text-color-white);
    margin-top: 140px;
    cursor: pointer;
    /* position: absolute;
    top: 20px;
    left: 1220px; */
}

/* The wall of Love   */
.auto-scroll-container {
    overflow: hidden;
    width: 82%;
    padding: 20px 0px;
    border-radius: 10px;
    position: relative;
    box-shadow: var(--box-shadow);
    margin: 30px auto;
}

.cards-wrapper {
    display: flex;
    gap: 20px;
    width: max-content;
    padding: 20px 0px;
}

#love-card-header {
    display: flex;
    gap: 30px;
    align-items: center;
    /* line-height: 10px; */
}

#love-card-heading {
    font-weight: 600;
    margin-bottom: 0px;
}

.wall_of_love_card>p {
    position: absolute;
    width: 90%;
}

.wall_of_love_card>img {
    width: 100%;
    height: 170px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.wall_of_love_card {
    padding: 20px;
    min-width: 450px;
    /* width: 10%; */
    height: 350px;
    border-radius: 12px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    font-size: 18px;
    flex-shrink: 0;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#wall_of_love_card-icon-image {
    background-color: rgb(129, 129, 129);
    color: var(--text-color-white);
    text-align: center;
    padding: 9px;
    font-weight: 650;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

/* Get Hired Section */


#Get-Hired-Section {
    /* width: 80%; */
    margin: 30px auto;
}

#Get-Hired-Section p {
    text-align: center;
    font-size: 20px;
}

.custom {
    margin: 30px auto;
    /* display: flex; */
    justify-content: center;
    max-width: 80% !important;
    border: 1px solid black;
}

.card-col {
    height: 250px;
    background: #fff;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    /* works now */
    border-radius: 10px;
    border-radius: 24px;
    /* line-height: 24px; */
    transition: 0.5s;
    transform: scale(1);
    cursor: pointer;
    box-shadow: rgba(189, 178, 255, 0.24) 0px 4px 40px;
    border: 1px solid rgb(255, 255, 255);
    background: linear-gradient(rgb(237, 235, 255), rgba(255, 255, 255, 0));
}

.card-col:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-col>i,
.card-col>h4 {
    color: var(--main-color);
    /* font-weight: 700; */
    font-size: 18px;
}

.card-col>p {
    font-size: 16px;
    color: var(--text-color-black);
}

/* Dream-jobs-Section */


#Dream-jobs-Section {
    /* border: 1px solid black; */
    width: 80%;
    margin: 30px auto;
    position: relative;
}

#Dream-jobs-Section-p {
    text-align: center;
    color: #313131;
    font-size: 20px;
    font-weight: 500;
    max-width: 500px !important;
    margin: 10px auto;
}

#Dream-jobs-Section-img {
    max-width: 100%;
    height: auto;
}

/* Our Top Profiles */
/* Our Top Profiles */
#Caeer-Opurtunity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-wrap: no-wrap;
    text-align: center;
}

#Caeer-Opurtunity h1 {
    font-size: 36px;
    font-weight: 700;
    max-width: 60%;
    color: var(--main-color);
    margin-bottom: 20px;
}

/* Image container */
.Caeer-Opurtunity-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsive Image */
.Caeer-Opurtunity-img img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

/* Vertical line */
.v-line {
    border-left: 3px solid var(--main-color);
    height: 200px;
}
@media (max-width: 767px) {
    #Caeer-Opurtunity {
        /* flex-direction: column; */
        flex-wrap: wrap;
        gap: 20px;
    }

    .v-line {
        display: none;
    }
}

#card-col-2 {
    height: 200px !important;
    max-width: 250px;
    margin: 30px auto;
    gap: 10px;
}

#card-col-2>h4,
#card-col-2>i {
    color: rgb(104, 81, 255);
    font-size: 18px !important;
    font-weight: 600;
}

#Our-Top-Profiles-a {
    position: absolute;
    right: 20px;
    color: var(--main-color);
}

/* Media Quries */

@media screen and (max-width:1120px) {
    #Job-Card-1 {
        display: none;
    }
}

@media screen and (max-width:750px) {
    #ribbion-content-p {
        display: none !important;
    }

    .my-navbar2 {
        background-color: var(--text-color-white);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        height: 100vh;
        width: 250px;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 20px;
        z-index: 2;
    }

    .navbar-list-img {
        display: inline-block;
    }

    .ui-switch {
        display: none;
    }
}

@media screen and (min-width:750px) {
    .navbar-list-img {
        display: none;
    }
}

@media screen and (max-width:600px) {
    #hero-h1-text {
        font-size: 30px;
    }

    .hero-section-text-p {
        max-width: 82;
    }

    #Job-Card-2 {
        display: none;
    }

    #jobs-card-section-heading {
        font-size: 30px;
    }

    #Get-Hired-Section p {
        font-size: 18px;
    }
}

@media screen and (max-width:690px) {
    .input-container {
        width: 90%;
    }

    #agent-message {
        width: 70%;
    }

    #AI-agent-img {
        display: none;
    }
}

@media screen and (max-width:420px) {
    #ribbion {
        padding: 0px !important;
    }

    .input-container {
        width: 90%;
    }

    .hero-section-text-p {
        max-width: 100%;
    }

    #agent-message {
        width: 90%;
    }

    #Caeer-Opurtunity h1 {
        font-size: 26px;
        font-weight: 400;
    }
}
